/**********************************************************************/
/* font sizes */
html {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  line-height: 1.7;
  color: #333;
  hyphens: auto;
  word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: initial;
  line-height: 1.2;
  margin: 1em 0 0.2em;
}

h1,
nav > h2  {margin: 0;}
p         {margin: 0.5em 0;}

h4,
h5,
h6 {
  font-weight: 700;
}

html  {font-size: 16px;}
p     {font-size: 1em;}
h1    {font-size: 3.157em;}
h2    {font-size: 2.369em;}
h3    {font-size: 1.777em;}
h4    {font-size: 1.333em;}
small,
aside,
blockquote,
figcaption {
  font-size: 0.800em;
}
/**********************************************************************/
aside,
blockquote,
figure {
  margin: 0 initial;
  border-style: solid;
  border-color: currentColor;
}

aside {
  border-width: 1px 0;
}

figure {
  padding: 0.5em 0;
  border-width: 1px 0;
}

blockquote {
  padding-left: 1em;
  padding-right: 1em;
  border-width: 0 0 0 1px;
}
cite::before {
    color: grey;
    content: "—from ";
}

/*****************************POSITIONING******************************/
article {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  box-sizing: border-box;
  min-height: 100vh;
  padding: 0 1em 1em 1em;
}

article > header {
  width: 100%;
  border-bottom: 1px black solid;
}

article > nav {
  float: left;
  margin-top: 1em;
  padding-right: 1em;
}

article > section {
  display: block;
  margin: 0 auto;
  max-width: 40em;
  flex: 1 0 65vw;
}

/**********************************************************************/

body > header {
  display: flex;
  align-items: center;
  justify-content: center; 
  text-align: center;
  
  position: fixed;
  height: 20vmin;
  width: 100vw;
  
  font-size: 6vmin;
  color: white;
  background: black;
  
  background-image: url('https://i.imgur.com/U4qgKje.png');
  background-size: cover;
  background-position: center;
}

body > header a {
  color: white;
  text-decoration: none;
}

body > main {
  position: relative;
  background: white;
  top: 20vmin;
  min-height: 100vh;
}
/**********************************************************************/
