/* TYPE SCALE *********************************************************/
body {
  margin: 0em;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2:not(:first-child), h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {font-size: 2.827em;}
h3 {font-size: 1.999em;}
h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}
/**********************************************************************/


/* Let's dim hyperlinks just slightly */
a {color: darkblue;}
a:visited {color:darkcyan}

#article-nav h2 {
  margin-bottom: 0;
}

#article,
#category {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  justify-content	: space-between;
  
  min-height: 100vh;
  
  margin-top: 25vh;
  line-height: 2;
  background-color:white;
  position:relative;
  z-index: 1;
}

#article > *,
#category > * {
  margin: 2vmin;
}

#page-header {
  width: 100%;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px #888 solid;
  height: min-content;
  height: -moz-min-content;
  height: -webkit-min-content;
}

#page-header > h1 {
  margin-bottom: 0;
}

/* Styling Specific to Article Pages */
#article > #content {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}

/* Styling Specific to Category Pages */
#category > #content {
  flex: 1;
  -webkit-column-width: 20em;
}
#category > #content header {
  -webkit-column-span: all;
}




cite {font-size: smaller;}
cite::before {
  color: grey;
  content: '—from ';
}

blockquote {
  /* Place a dark left border on blockquotes */
  border-color: #333;
  border-width: 0 0 0 3px;
  border-style: solid;
  
  /* Pad both sides to distinguish it from text */
  padding-left: 2em;
  padding-right: 2em;
  
  /* And shrink the font ever so slightly */
  font-size:95%;
  
  margin-start: 0;
  -webkit-margin-start: 0;
  
  margin-block-start: 1em;
  -webkit-margin-before: 1em;
  
  margin-block-end: 1em;
  -webkit-margin-end: 1em;
  
  -webkit-margin-after: 1em;
}

ul, ol {
  list-style: disc outside none;
  -webkit-padding-start: 40px;
}

li { margin-bottom: 0.2em;}

/* On screens... */
@media screen {
  #site-header {
    /* Center the contents of the site header */
    display: flex;
    align-content:center;
    justify-content: center;
    text-align:center;
    
    /* Give it a cool in-the-background effect */
    position: fixed;
    height: 25vh;
    width:100%;
    top: 0;
    overflow: hidden;
    z-index: -1;
    
    /* And a pretty picture */
    background-image: url('https://i.imgur.com/U4qgKje.png');
    background-size: cover;
    background-position: center;
  }

  /* Don't highlight the header link */
  #site-header a {
    color: inherit;
    text-decoration: inherit;
  }

  /* Typographic styling of header */
  #site-header > h1 {
    display:block;
    align-self: center;
    color: white;
    font-weight: 700;
    font-variant: small-caps;
  }
}










@media print {
  /* Print Type Scale (Make headings a little smaller) */
  html {font-size: 10pt;}
  body {line-height: 1.75;}
  h1,h2,h3,h4{margin: 1.414em 0 0.2em;}
  h1 {font-size: 2.441em;margin-top:0;}
  h2 {font-size: 1.953em;}
  h3 {font-size: 1.563em;}
  h4 {font-size: 1.25em;}
  small, .font_small {font-size: 0.8em;}
  
  /* Avoid Page Breaks inside Headers */
  h1, h2, h3, h4 {
    page-break-inside : avoid;
    break-after: avoid;
    page-break-after: avoid;
    -webkit-column-break-after: avoid;
  }
  
  /* Avoid Orphans & Widows */
  section, p {
    widows: 3;
    orphans: 3;
  }
  
  /* Indent First Paragraph after Header */
  h1 + p, h2 + p, h3 + p, h4 + p, 
  p:first-child {
    text-indent: 1em;
  }
  
  /* Style the headers appropriately for print */
  #site-header,
  #article > header {
    text-align: center;
  }
  
  #article > header {
    border: none;
  }
  
  
  #site-header {
    font-size: 50%;
    font-variant: small-caps;
  }
  
  /* Since you can't use hyperlinks in print, make them the same color
   * as text */
  a {
    color: #000;
    text-decoration: none;
  }

  /* Don't bother showing categories or table of contents, since those
   * are navigation elements. */
  #article-nav {
    display: none;
  }

  /* Center the article text on the page and limit its maximum width */
  #content {
    margin: 0 auto;
    max-width: 35em;
  }
  
    /* On firefox, use multi-column layout */
  @-moz-document url-prefix() { 
    #content {
      max-width: initial;
      -moz-column-gap: 2em; 
      -moz-column-fill: balance; 
      -moz-column-width: 20em;
    }
  }

}
