<p>Since its publication in 1993, Martha Mitchell's 629 page <i>Encyclopedia Brunoniana</i> has served as the definitive reference work of Brown University's history. Its 668 articles document the University's <a href="./Topics/Buildings">buildings</a>, <a href="./Topics/Departments">departments</a>, <a href="./Topics/People">people</a>, and <a href="./Topics/Publications">publications</a>. The <i>Liber Brunoniana</i> project utilizes natural language processing techniques to transform Mitchell's text into hypertext, automatically inferring over 5,000 hyperlinks between articles, deliminating content into categories, and constructing pages detailing the events of <a href="./Topics/Years">each year</a> mentioned in the encyclopedia.</p>

<p>The encyclopedia may be browsed from its complete <a href="./Articles">index of articles</a>, or <a href="./Topics">by topic.</a> For more information about the creation of <i>Liber Brunoniana</i>, see the <a href="./Articles/Liber Brunoniana.html">Liber Brunoniana page</a>.</p>
